
@{
    ViewBag.Title = "_LoginLayout";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section css{
    @Styles.Render("~/Content/css/signin")    
}

<div class="container">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
