
@{
    ViewBag.Title = "_LoginLayout";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section css{
    @RenderSection("css", required: false)   
}

<div class="container">
    @RenderBody()
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}