
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section css{
    @Styles.Render("~/Content/css/signin")

    @RenderSection("css", required: false)
}


<div class="container">

    @*Row for the login form*@
    <div class="row">

        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <div class="login-wrapper">
                <h1 class="">
                    <img src="~/Content/Images/Square176x176Logo.png" class="logo" />
                    Krypt Pad
                </h1>

                <div class="login-section">
                    @RenderBody()
                </div>
                

            </div>
        </div>
    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}
