@*Spinner*@
<div class="wait-spinner" data-bind="visible: isBusy" style="display: none">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    <span class="lead">Just a moment...</span>
</div>
