body {
}

/*Header*/
.app-header {
    /*border-bottom: 1px solid #eee;*/
    margin-bottom: 15px;
}


    .app-header .app-header-brand {
        /*padding:15px;*/
        color: #333;
        /*line-height: 20px;*/
        /*font-size: 20px;*/
        margin: 0;
        text-decoration: none;
    }

        .app-header .app-header-brand:hover,
        .app-header .app-header-brand:focus {
            text-decoration: none;
        }

        .app-header .app-header-brand .logo {
            height: 96px;
        }

    .app-header ul.header-menu {
        list-style: none;
        margin-top: 40px;
        margin-bottom: 10px;
    }

        .app-header ul.header-menu > li {
            float: left;
        }

    /*Buttons and text*/
    .app-header .header-menu .header-button,
    .app-header .header-menu .header-button,
    .app-header .header-menu .header-text {
        display: inline-block;
        line-height: 20px;
        padding: 15px;
        margin: 0;
    }

    .app-header .header-menu .dropdown.header-button,
    .app-header .header-menu .dropdown.header-button {
        padding: 0;
    }

        .app-header .header-menu .dropdown.header-button:hover,
        .app-header .header-menu .dropdown.header-button:focus,
        .app-header .header-menu .header-button:hover,
        .app-header .header-menu .header-button:focus {
            background-color: #eee;
        }


        .app-header .header-menu .dropdown.header-button > a,
        .app-header .header-menu .header-button {
            text-decoration: none;
        }

            .app-header .header-menu .dropdown.header-button > a:hover,
            .app-header .header-menu .dropdown.header-button > a:focus,
            .app-header .header-menu .header-button:hover,
            .app-header .header-menu .header-button:focus {
                text-decoration: none;
            }

            .app-header .header-menu .dropdown.header-button > a > .profile-pic {
                width: 50px;
                height: 50px;
            }

            .app-header .header-menu .dropdown.header-button > a > span {
                vertical-align: middle;
                display: inline-block;
                line-height: 50px;
                padding: 0 5px;
            }


/*Media queries*/
@media screen and (max-width: 768px){
    .app-header ul.header-menu {
        margin-top: 0;
    }
}