body {
    background-color: #f5f7f8;
}

/*
    Header
*/
.app-header {
    background-color: #67a4de;
}


    .app-header .app-header-brand {
        display: inline-block;
        color: #fff;
        line-height: 20px;
        padding: 10px 15px;
        margin: 0;
        text-decoration: none;
    }

        .app-header .app-header-brand:hover,
        .app-header .app-header-brand:focus {
            text-decoration: none;
        }

        .app-header .app-header-brand .logo {
            height: 30px;
        }

    .app-header ul.header-menu {
        list-style: none;
        color: #fff;
        /*margin-top: 40px;
        margin-bottom: 10px;*/
    }

        .app-header ul.header-menu > li {
            float: left;
        }

    /*Buttons and text*/
    .app-header .header-menu .header-button,
    .app-header .header-menu .header-button,
    .app-header .header-menu .header-text {
        display: inline-block;
        line-height: 20px;
        padding: 15px;
        margin: 0;
    }

    .app-header .header-menu .dropdown.header-button,
    .app-header .header-menu .dropdown.header-button {
        padding: 0;
    }

        .app-header .header-menu .dropdown.header-button:hover,
        .app-header .header-menu .dropdown.header-button:focus,
        .app-header .header-menu .header-button:hover,
        .app-header .header-menu .header-button:focus {
            background-color: #83b3e1;
        }


        .app-header .header-menu .dropdown.header-button > a,
        .app-header .header-menu .header-button {
            text-decoration: none;
        }

            .app-header .header-menu .dropdown.header-button > a:hover,
            .app-header .header-menu .dropdown.header-button > a:focus,
            .app-header .header-menu .header-button:hover,
            .app-header .header-menu .header-button:focus {
                text-decoration: none;
            }

            .app-header .header-menu .dropdown.header-button > a > .profile-pic {
                width: 50px;
                height: 50px;
            }

            .app-header .header-menu .dropdown.header-button > a > span {
                vertical-align: middle;
                display: inline-block;
                line-height: 50px;
                padding: 0 5px;
            }

                .app-header .header-menu .dropdown.header-button > a > span > .caret {
                    color: #fff;
                }

/*Media queries*/
@media screen and (max-width: 768px) {
    .app-header ul.header-menu {
        margin-top: 0;
    }
}


/*
    Side nav
*/
.content-wrapper {
    position: relative;
}

    .content-wrapper .side-nav {
        margin-top: 50px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #333;
        color: #fff;
        width: 280px;
    }

        .content-wrapper .side-nav > ul {
            list-style: none;
            padding: 0;
        }

            .content-wrapper .side-nav > ul > li {
            }

                .content-wrapper .side-nav > ul > li:hover {
                }

                .content-wrapper .side-nav > ul > li > a {
                    display: block;
                    padding: 15px;
                    color: #fff;
                }

                    .content-wrapper .side-nav > ul > li > a:hover,
                    .content-wrapper .side-nav > ul > li > a:focus {
                        padding-left: 11px;
                        background-color: #444;
                        border-left: 4px solid #67a4de;
                        text-decoration: none;
                    }

    .content-wrapper .main-content {
        padding: 15px;
        margin-left: 280px;
    }

        .content-wrapper .main-content .content-section {
            background-color: #fff;
            padding: 15px;
        }

        .content-wrapper .main-content .content-header {
            margin-bottom: 15px;
        }

            .content-wrapper .main-content .content-header h1,
            .content-wrapper .main-content .content-header .h1 {
                margin: 0;
            }

/*Media queries*/
@media screen and (max-width: 768px) {

    .content-wrapper .side-nav {
        width: 50px;
    }

    .content-wrapper .main-content {
        margin-left: 65px;
    }

    .content-wrapper.open .side-nav {
        z-index: 1000;
        width: 280px;
    }
}
