html {
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background: -o-radial-gradient(#cfe2f1 5%, white 60%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#cfe2f1 5%, white 60%); /* For Firefox 3.6-15 */
    background: radial-gradient(#cfe2f1 5%, white 60%); /* Standard syntax */
    background-repeat: no-repeat;
}

/* Header styles */
h1, .h1 {
    font-size: 3em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
    font-family: 'Segoe UI Light';
    font-weight: normal;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* sign form */
#sign-in {
    /*border-right: 1px solid #ccc;*/
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/*@media screen and (max-width: 767px) {
    #sign-in {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}*/

/* Heros */
.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}


    .hero.hero-blue {
        background-color: rgba(87, 194, 213, 0.20);
    }

    .hero.hero-light-blue {
        background-color: rgba(160, 202, 232, 0.35);
    }

    .hero.hero-light-gray {
        background-color: rgba(239, 239, 239, 0.50);
    }

    .hero.hero-transparent {
        background-color: transparent;
        /*box-shadow: 0px 5px 13px rgba(0,0,0,0.1), 0px -5px 13px rgba(0,0,0,0.1);*/
    }

/*.hero.hero-main {
        margin-bottom: 0;
    }*/

/* Middle content */
.middle {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Set the color of the navbar */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

/* Some border styles */
.border-right {
    border-right: 1px dashed #ccc;
}

.border-left {
    border-left: 1px dashed #ccc;
}

@media screen and (max-width: 767px) {
    .border-right {
        border-right: none;
        border-bottom: 1px dashed #ccc;
    }

    .border-left {
        border-left: none;
        border-top: 1px dashed #ccc;
    }
}

/* Busy indicator styles */
.indicator {
    width: 5em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
}

    .indicator .bar {
        float: left;
        background-color: #0087b4;
        border: 1px solid #007196;
        width: .5em;
        margin: 0 .25em;
        box-sizing: border-box;
        height: 25%;
        margin-top: 10%;
        -webkit-animation: animate 500ms infinite alternate;
        animation: animate 500ms infinite alternate;
    }

    .indicator.indicator-light .bar {
        background-color: white;
        border: 1px solid #ccc;
    }

    .indicator .bar:nth-child(1) {
        -webkit-animation-delay: 100ms;
        animation-delay: 100ms;
    }

    .indicator .bar:nth-child(2) {
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    .indicator .bar:nth-child(3) {
        -webkit-animation-delay: 300ms;
        animation-delay: 300ms;
    }

    .indicator .bar:nth-child(4) {
        -webkit-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    .indicator .bar:nth-child(5) {
        -webkit-animation-delay: 500ms;
        animation-delay: 500ms;
    }

@keyframes animate {
    0% {
        height: 25%;
        margin-top: 10%;
    }

    100% {
        height: 100%;
        margin-top: 0;
    }
}

/* Table styles */
td:last-child {
    width: 1px;
    white-space: nowrap;
}

/* Cards */
.card-link {
    display: inline-block;
}

.card {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 15px;
}

    .card:hover {
        background-color: rgba(255, 255, 255, 0.20);
    }

/* Social bar */
.social-bar {
    background-color: rgba(174, 221, 255, 0.25);
    padding: 15px 0;
    margin-bottom: 20px;
}

/* Circle styles */
.circle {
    margin-bottom: 20px;
    text-align: center;
    line-height: 2.1em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 4px solid #fff;
}



.circle-lg {
    text-align: center;
    font-size: 8em;
}

a .circle {
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    transition: all 200ms ease-in-out;
}

    a .circle:hover {
        box-shadow: 0 0 20px #fff;
    }

/*Spinner classes*/
.wait-spinner > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 3em;
}

/*
    Media queries for buttons
*/
@media screen and (max-width:480px) {
    .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}


/*Animations*/

.throb {
    animation: heart-throb 1s ease-in-out infinite;
    text-shadow: 0 0 0 #a94442;
}

@keyframes heart-throb {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        text-shadow: 0 0 0 #a94442;
    }

    100% {
        text-shadow: 0 0 .5em rgba(169, 68, 66, 0);
    }
}
