@using KryptPadWebApp.Resources
@{
    ViewBag.Title = Strings.Items;
}

@*Select a profile*@
<div id="items" class="container">

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">

            <h2>@Strings.Items</h2>

            <message-widget params="message: message"></message-widget>

            @*Items management*@
            @*<p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-profile-modal"><i class="fa fa-plus fa-fw"></i> Create profile</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-undo fa-fw"></i> Restore from backup</button>
                </p>*@

            @*<div id="items-list" data-bind="foreach: { data: items, afterAdd: fadeIn}">

                    <div style="display:none;">
                        <a role="button" data-bind="click: $root.providePassphrase" data-toggle="modal" data-target="#passphrase-modal">
                            <div class="profile">
                                <i class="fa fa-file-text-o fa-fw"></i>
                                <span data-bind="text: $data.Name"></span>
                            </div>
                        </a>
                    </div>


                </div>*@

            @*Show message if we don't have any profiles created yet*@
            <p data-bind="visible: noProfiles" style="display: none">
                @Strings.NoCategories
            </p>

            @Html.Partial("_Spinner")
        </div>
    </div>
</div>

@section scripts{
    <script>
        +function () {

            // Items model
            function Items() {

            }
        }
    </script>
}