
@{
    ViewBag.Title = "Authorize Device";
}

<div class="container">
    
    <h4>Authorize Device</h4>

    <div class="alert alert-success">
        <p>
            You have successfully authorized your device.
        </p>
    </div>

</div>