
@{
    /**/

    ViewBag.Title = "Authorize Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <h2>Authorize Device</h2>

    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    @if (ViewContext.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-success">
            <p>
                You have successfully authorized your device.
            </p>
        </div>

    }

</div>