
@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Main body*@
<div class="container">

    <h4>Confirm Email</h4>

    <div class="alert alert-success">
        <span>Your email address has been confirmed</span>
    </div>


</div>