<script id="account-options-template" type="text/html">
    <div class="content-section">
        <div>
            <p class="lead">Change your account password</p>
            <span>To keep your account safe, be sure to change your password regularly.</span>

            <p>
                <a href="#my-account/change-password" class="btn btn-primary">Change Password</a>
            </p>
        </div>

        <div>
            <span class="lead">Delete your account</span>
            <p>
                <a href="#my-account/delete-account" class="btn btn-danger">Delete Account</a>
            </p>
        </div>
</script>
