<script id="change-password-template" type="text/html">

    <div class="content-header">
        <div class="content-header">
            <h4>My account / Change password</h4>
        </div>
    </div>

    <div class="content-section">
        
        <message-widget params="message: message"></message-widget>

        <!--Confirmation message appears when the success flag is set-->
        <div data-bind="visible: success" style="display: none">
            <a href="@Url.RouteUrl("App")#my-account" class="btn btn-default">Go back to My Account page</a>
        </div>

        <div class="row">

            <div class="col-sm-8 col-md-6 col-lg-4">
                <!--Reset password-->
                <div data-bind="visible: !isBusy() && !success()">

                    <p>
                        <small><label class="sr-only" for="current-password">Current password</label></small>
                        <span class="text-danger" data-bind="validationMessage: currentPassword"></span>
                        <input type="password" id="current-password" class="form-control" data-bind="textInput: currentPassword"
                               placeholder="Current password" />
                    </p>

                    <p>
                        <small><label class="sr-only" for="reset-password">Password</label></small>
                        <span class="text-danger" data-bind="validationMessage: newPassword"></span>
                        <input type="password" id="reset-password" class="form-control" data-bind="textInput: newPassword"
                               placeholder="New password" />
                    </p>

                    <p>
                        <small><label class="sr-only" for="reset-confirm-password">Confirm password</label></small>
                        <input type="password" id="reset-confirm-password" class="form-control" data-bind="textInput: confirmPassword"
                               placeholder="Confirm password" />
                    </p>

                    <p>
                        <button data-bind="click: changePassword" class="btn btn-primary">Change Password</button>
                        <a href="@Url.RouteUrl("App")#my-account" class="btn btn-default">Cancel</a>
                    </p>

                </div>
            </div>

        </div>

        @{ Html.RenderPartial("_Spinner");}

    </div>
</script>
