<script id="my-account-template" type="text/html">
    <div class="content-header">
        <h1>My account</h1>
    </div>

    
    <div>
        <p class="lead">Change your account password</p>
        <p>To keep your account safe, be sure to change your password regularly.</p>

        <a href="#change-password" class="btn btn-primary">Change Password</a>
    </div>

    <p class="lead">Delete your account</p>
    <a href="#delete-account" class="btn btn-danger">Delete Account</a>
</script>