
@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*Header*@
<div class="login-header text-center">
    <span class="lead">CONFIRM EMAIL</span>
</div>

@*Main body*@
<div id="confirm-email" class="login-body">

    <div class="alert alert-success">
        <span>Your email address has been confirmed</span>
    </div>

    <div>
        <a href="@Url.RouteUrl("SignIn")" class="btn btn-default">Go back to Sign In page</a>
    </div>

</div>