
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*App section*@
<div class="login-header text-center">
    <span class="lead ">FORGOT PASSWORD</span>
</div>

@*Main body*@
<div id="forgot-password" class="login-body">
    <message-widget params="message: message"></message-widget>

    <!--Confirmation message appears when the linkSent flag is set-->
    <div data-bind="visible: linkSent" style="display: none">
        <a href="@Url.RouteUrl("SignIn")" class="btn btn-default">Go back to Sign In page</a>
    </div>

    <!--Forgot password form-->
    <div data-bind="visible: !isBusy() && !linkSent()">
        <p>
            <small><label for="forgot-email">Enter your email address below to recover your account</label></small>
            <span class="text-danger" data-bind="validationMessage: email"></span>
            <input type="text" id="forgot-email" class="form-control" data-bind="value: email"
                   placeholder="Email: example@domain.com" />
        </p>

        <p>
            <button data-bind="click: sendLink" class="btn btn-primary">Send Reset Link</button>
            <a href="@Url.RouteUrl("SignIn")" class="btn btn-default">Cancel</a>
        </p>


    </div>


    @{ Html.RenderPartial("_Spinner");}

</div>

@section scripts{
    <script src="~/Scripts/app/forgot-password.js"></script>
}