
@{
    ViewBag.Title = "Index";
}

<div id="app" class="container">

    <div data-bind="template: { name: template }"></div>

    <script id="profile-template" type="text/html">
        <span data-bind="text: test"></span>
    </script>
    
</div>