
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = "Index";
}



@*Placeholder for the active template*@
<div data-bind="template: { name: template, data: templateModel }"></div>


@*
    Templates
    These templates load components so that the html and view model can reside in separate files
*@

@*Reset password*@
<script id="reset-password-template" type="text/html">
    <reset-password-widget params="data: $data"></reset-password-widget>
</script>

@*Confirm email*@
<script id="confirm-email-template" type="text/html">
    <confirm-email-widget params="data: $data"></confirm-email-widget>
</script>

@*Profiles*@
@{ Html.RenderPartial("_Profiles");}


@section scripts{
    @Scripts.Render("~/bundles/app")
}