
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*Header*@
<div class="login-header text-center">
    <span class="lead ">RESET PASSWORD</span>
</div>

@*Main body*@
<div id="reset-password" class="login-body">

    <message-widget params="message: message"></message-widget>

    <!--Confirmation message appears when the success flag is set-->
    <div data-bind="visible: success" style="display: none">
        <a href="@Url.RouteUrl("SignIn")" class="btn btn-default">Go back to Sign In page</a>
    </div>

    <!--Reset password-->
    <div data-bind="visible: !isBusy() && !success()">

        <form method="post" action='#reset-password'>
            <p>
                <small><label class="sr-only" for="reset-email">Email</label></small>
                <input type="text" id="reset-email" class="form-control" data-bind="textInput: email"
                       placeholder="email: example@domain.com" />
            </p>

            <p>
                <small><label class="sr-only" for="reset-password">Password</label></small>
                <input type="password" id="reset-password" class="form-control" data-bind="textInput: password"
                       placeholder="Password" />
            </p>

            <p>
                <small><label class="sr-only" for="reset-confirm-password">Confirm password</label></small>
                <input type="password" id="reset-confirm-password" class="form-control" data-bind="textInput: confirmPassword"
                       placeholder="Password" />
            </p>

            <p>
                <button data-bind="click: reset, enable: resetEnabled" class="btn btn-primary">Reset Password</button>
                <a href="@Url.RouteUrl("SignIn")" class="btn btn-link">Cancel</a>
            </p>

        </form>

    </div>

    <!--Spinner-->
    <div class="wait-spinner" data-bind="visible: isBusy">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="lead">Just a moment...</span>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/reset-password.js"></script>
}