
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*App section*@
<div id="reset-password" class="login-section">

    <p class="lead text-center">RESET PASSWORD</p>

    <!--Reset password-->
    <div data-bind="visible: !isBusy()">

        <form method="post" action='#reset-password'>

            <message-widget params="message: message"></message-widget>

            <small><label for="reset-email">Email</label></small>
            <input type="text" id="reset-email" class="form-control" data-bind="textInput: email"
                   placeholder="example@domain.com" />


            <small><label for="reset-password">Password</label></small>
            <input type="password" id="reset-password" class="form-control" data-bind="textInput: password"
                   placeholder="Password" />


            <small><label for="reset-confirm-password">Confirm password</label></small>
            <input type="password" id="reset-confirm-password" class="form-control" data-bind="textInput: confirmPassword"
                   placeholder="Password" />

            <br />
            <p>
                <button data-bind="click: reset, enable: resetEnabled" class="btn btn-primary">Reset Password</button>
                <a href="@Url.RouteUrl("SignIn")" class="btn btn-link">Cancel</a>
            </p>

        </form>

    </div>

    <!--Spinner-->
    <div class="wait-spinner" data-bind="visible: isBusy">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="lead">Just a moment...</span>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/reset-password.js"></script>
}