
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*Header*@
<div class="login-header text-center">
    <span class="lead ">SIGN UP</span>
</div>

@*Main body*@
<div id="signup" class="login-body">

    @*Form*@
    <div data-bind="visible: !isBusy()">

        <form id="sign-up-form" method="post" action='@Url.RouteUrl("App")'>

            <message-widget params="message: message"></message-widget>

            <p>
                <small><label class="sr-only" for="sign-up-email">Email</label></small>
                <span class="text-danger" data-bind="validationMessage: email"></span>
                <input type="text" id="sign-up-email" class="form-control" data-bind="textInput: email"
                       placeholder="Email: example@domain.com" />
            </p>

            <p>
                <small><label class="sr-only" for="sign-up-password">Password</label></small>
                <span class="text-danger" data-bind="validationMessage: password"></span>
                <input type="password" id="sign-up-password" class="form-control" data-bind="textInput: password"
                       placeholder="Password" />
            </p>

            <p>
                <small><label class="sr-only" for="sign-up-confirm-password">Confirm password</label></small>
                <span class="text-danger" data-bind="validationMessage: confirmPassword"></span>
                <input type="password" id="sign-up-confirm-password" class="form-control" data-bind="textInput: confirmPassword"
                       placeholder="Confirm password" />

            </p>
            <p>
                By signing up, you agree to the <a href="@Url.RouteUrl("Terms")" target="_blank">license terms</a>.
                Also, please read the <a href="@Url.RouteUrl("Policy")" target="_blank">privacy policy</a>.
            </p>
            <p>
                <button data-bind="click: signup" class="btn btn-primary">Sign Up</button>
                <a href="@Url.RouteUrl("SignIn")" class="btn btn-default">Cancel</a>
            </p>

        </form>


    </div>

    @{ Html.RenderPartial("_Spinner");}

</div>

@section scripts{
    <script src="~/Scripts/app/sign-up.js"></script>
}
