
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">

    @*Row for the login form*@
    <div class="row">

        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="login-wrapper">
              <h1 class="">
                  <img src="~/Content/Images/Square176x176Logo.png" class="logo" />
                  Krypt Pad
              </h1>
            <div id="signin" class="login-section">
                @*Login section*@
                <login-widget></login-widget>
            </div>
          </div>
        </div>
    </div>

</div>
