
@{
    ViewBag.Title = "About";
}

@section pageHeader{

    <div class="hero hero-main hero-blue">
        <div class="container">
            <h1>About</h1>
        </div>
    </div>
}

<div class="container">
    <div class="media">
        <div class="media-left">
            <div class="visible-md-block visible-lg-block">
                <img src="http://www.gravatar.com/avatar/cd53aabfe965b55c3c3de4e789c373cf?d=identicon&s=200" class="media-object" alt="" />
            </div>
        </div>
        <div class="media-body">
            <p class="h2 media-heading">About Krypt Pad</p>
            <p class="lead">
                I started the Krypt Pad project because I needed a way to store all my credit card and back account numbers. Some of the first prototypes consisted of only a notepad appearance,
                hence the name Krypt Pad. The project quickly grew as I wanted to store website account information as well. Now, Krypt Pad is capable of storing just about anything you want
                (except for files).
            </p>

            <p class="lead">
                As Krypt Pad became more stable, I decided to release it for others to use as well, and now, it's available to download and use for free. I do, however, appriciate donations.
                Beta 4 is still lacking a lot of features, but I have plans to release more versions soon, as well as a Universal App version for Windows 10 and Windows 10 Mobile. I hope this
                software is of use to you, and you find it helpful in keeping track of all your sensitive stuff.
            </p>
            <p class="lead">
                Please, as a thank-you, send a donation. Send as much as you feel Krypt Pad is worth to you.
            </p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="XFMJUYPB6U5R6">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p class="lead">
                Thanks for using Krypt Pad! <span class="text-muted">- Eric</span>
            </p>
        </div>
    </div>
</div>