@model KryptPadWebApp.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@section pageHeader{
    <div class="hero hero-main hero-blue">
        <div class="container text-center">

            <h1>Krypt Pad</h1>
            <p class="lead">Secure credential manager</p>
            <img src="~/Content/Images/safe-white.svg" width="256" alt="Krypt Pad" />


            @*Account interactions*@
            <div>
                <p>
                    <a href="@Url.RouteUrl("SignIn")" title="Sign in" class="btn btn-info">Sign in or create an account</a>

                </p>
            </div>

            @*Download supported clients*@
            @*<p>
                    Download Krypt Pad for Windows desktop beta 4
                </p>
                <div>
                    <a href="@Url.RouteUrl("Download")" title="Download Now" class="card-link">
                        <div class="card">
                            <p>
                                <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
                            </p>

                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>*@


        </div>

    </div>
}

@*Available downloads*@
<div class="container text-center">
    <p class="h1">
        Download
    </p>
    <hr />
    <p>
        <a href="https://www.microsoft.com/en-us/store/p/krypt-pad/9nblggh5xd4f" target="_blank">
            <i class="fa fa-windows fa-5x"></i>
        </a>
    </p>
    <hr />
    <p>
        <small>
            Krypt Pad for Windows desktop beta 4 is being discontinued... but, you can still
            download it. <a href="@Url.RouteUrl("Download")" title="Download Krypt Pad beta 4">Download Old Version</a>
        </small>
    </p>
</div>

@*An ad - will probably get blocked anyway :( oh well*@
<div class="text-center middle">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- KP_RESP_1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3983402242017131"
         data-ad-slot="8554978894"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

@*Main content*@
<div class="hero hero-transparent ">
    <div class="container text-center">
        <p class="h1">How it works</p>
        <p class="lead">
            Keeping track of all your passwords, credit cards, and other personal information can be difficult, or even impossible
            (unless you have a photographic memory). But for the rest of us, Krypt Pad can store sensitive information and keep it
            safe. Your data is encrypted and synced across all your compatible devices.
        </p>
        <p class="lead">

        </p>
    </div>

</div>

@*Safe & secure*@
<div id="secure" class="hero hero-light-blue">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 text-center col-sm-push-8 ">
                <img src="~/Content/Images/security-electronic-key.svg"  style="width: 80%; max-width:256px" />
            </div>

            <div class="col-sm-8 col-sm-pull-4">
                <p class="h1">Security</p>
                <p class="lead">
                    Security is important, especially when you are storing credentials, credit card numbers, bank information, and other
                    sesitive data. Everything is protected using AES 256bit encryption.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="text-center middle">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- KP_RESP_2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3983402242017131"
         data-ad-slot="6799044097"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

@*Donations*@
<div id="donate" class="hero hero-light-red">
    <div class="container">

        <div class="row">

            <div class="col-md-5 visible-md-block visible-lg-block">
                <img src="~/Content/Images/favorite2.png" />
            </div>

            <div class="col-md-5">
                <p class="h1">Donation Supported</p>
                <p class="lead">
                    Krypt Pad is supported by donations. Your contributions help support future development.
                    You are free to donate as much as you'd like; there's no preset amount.
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="XFMJUYPB6U5R6">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>

        </div>

    </div>
</div>



<div class="text-center middle">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- KP_RESP_3 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3983402242017131"
         data-ad-slot="4431573696"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>


@section scripts{

}
