
@{
    ViewBag.Title = "Policy";
}

@section pageHeader{

    <div class="hero hero-main hero-blue">
        <div class="container">
            <h1>Privacy Policy</h1>
        </div>
    </div>
}

<div class="container">
    <p class="lead">Updated 4/15/2016</p>
    <h3>Personal Information</h3>
    <p>
        The following outlines what information is collected, and how it is used.
        <ul>
            <li>Email address</li>
            <li>Usage data</li>
        </ul>
    </p>

    <p>
        Information gathered will:
        <ul>
            <li>Not be used to contact you, unless you expressly give us permission to do so by signing up for mailing lists</li>
            <li>Not be used to personally identify you</li>
            <li>Not be sold or otherwise given to any third party</li>
            <li>Be used for statistical purposes only</li>
        </ul>
    </p>
    
    <h3>
        Security
    </h3>
    <p>
        Your data is protected by a username (email) and password that you specify. You are
        responsible for choosing a secure password.
    </p>
    <p>
        Your sensitive information is stored in "profiles", and each profile is encrypted with
        an encryption key based on a passphrase you choose. You are responsible for choosing
        secure passphrases to encrypt your data.
    </p>
    <p>
        In order to provide you with the best experience possible across multiple devices,
        your data is stored in a database on a shared hosted server. Your data is secured with 256bit
        AES encryption. While your data is protected by encryption, there are absolutely no guarantees
        that the information you store in Krypt Pad will be 100% safe from theft or loss.
        Krypt Pad provides a way to back up your profiles, and you are responsible for making regular
        backups and keeping them safe.
    </p>

    <h3>Advertisements</h3>
    <p>
        Advertisements displayed on this website are provided by Google. We use third-party advertising companies to serve ads when you visit our website.
        These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order
        to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not
        having this information used by these companies, click <a href="http://www.google.com/privacy_ads.html" target="_blank">here</a>.
        <br />
        We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
    </p>

    <h3>Disclaimer</h3>

    <p>
        You accept full responsibility for the information you store in Krypt Pad. This
        software and service is licensed under MIT, and hence has no warranty whatsoever. For more
        information please visit <a href="https://opensource.org/licenses/MIT" target="_blank">opensource.org</a>
        or view the <a href="@Url.RouteUrl("Terms")">license terms</a>.
    </p>

    <p>
        Remember, nothing you store online or in files is ever 100% secure.
        By using the Krypt Pad service and any Krypt Pad client application you accept this risk.
    </p>


    <address>
        <strong>Support:</strong>   <a href="mailto:support@kryptpad.com">Contact Support</a><br />

    </address>

</div>