
@{
    ViewBag.Title = "Policy";
}

<div class="container">
    <h2>Privacy Policy</h2>

    <h3>Personal Information</h3>
    <p>
        At KryptPad.com we take privacy very seriously. Below is our commitment to privacy and how we use personal information.
    </p>

    <p>
        Information gathered from using this website will:
        <ul>
            <li>Not be used to contact you, unless you expressly give us permission to do so by signing up for mailing lists</li>
            <li>Not be used to personally identify you</li>
            <li>Not be sold or otherwise given to any third party</li>
            <li>Be used for statistical purposes only</li>
        </ul>
    </p>

    <h3>Advertisements</h3>
    <p>
        Advertisements displayed on this website are provided by Google. We use third-party advertising companies to serve ads when you visit our website.
        These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order
        to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not
        having this information used by these companies, click <a href="http://www.google.com/privacy_ads.html" target="_blank">here</a>.
        <br />
        We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
    </p>

    <h2>Disclaimer</h2>
    <p>
        <strong>USE OF KRYPTPAD.COM AND/OR THE KRYPT PAD SOFTWARE IS AT YOUR OWN RISK.</strong>
    </p>
    <p>
        KryptPad.com and/or its affiliates, creators, or owners cannot be held liable for any damages (either tangible or intangible) caused by the use, misuse, or
        inability to use the website and/or the Krypt Pad software downloaded from this website. We do our best to ensure security best practices
        are employed, but cannot guarantee the effectiveness of such measures. Nothing is ever perfectly secure. The Krypt Pad software
        available on this website is also covered under this disclaimer.
    </p>

    <p>
        Storing passwords anywhere comes with risk, and you, as the user of this website and/or the Krypt Pad software, agree to such risks
        by installing and/or using them. We cannot guarantee the security of your personal information stored in the files created by the Krypt Pad software
        under any circumstances.

    </p>




    <address>
        <strong>Support:</strong>   <a href="mailto:support@kryptpad.com">Contact Support</a><br />

    </address>

</div>